.head {
  text-align: center;
}
.container {
  width: 1000px;
    margin: auto;
  align: center;
  backgound-color: gray;
}
.box{
  width: 700px;
  background: #e1e1e1;
  padding: 40px;
  text-align: left;
  margin: auto;
  margin-top: 3%;
}
